# Root lombok configuration file
# This configuration will be inherited by all modules

# Configure Lombok to generate getters and setters
lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = false
lombok.getter.noIsPrefix = false
lombok.setter.flagUsage = allow

# Prevent lombok from adding the @EqualsAndHashCode annotation
lombok.equalsAndHashCode.callSuper = call

# Prevent lombok from adding the @ToString annotation
lombok.toString.callSuper = call

# Add @Generated annotation to all generated methods
lombok.addLombokGeneratedAnnotation = true

# Configure Lombok to work with MapStruct
lombok.accessors.chain = true

# This is important for MapStruct to work with Lombok
lombok.copyableAnnotations += org.mapstruct.Mapper
lombok.copyableAnnotations += org.mapstruct.Mapping
lombok.copyableAnnotations += org.mapstruct.Mappings
lombok.copyableAnnotations += org.mapstruct.Named

# Make sure Lombok doesn't interfere with MapStruct's processing
lombok.anyConstructor.addConstructorProperties = false

# Config is stop at this directory
config.stopBubbling = true