# Configure Lombok for gateway-service module

# Tell Lombok to add @lombok.Generated annotation to all generated methods
lombok.addLombokGeneratedAnnotation = true

# Configure field defaults
lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = false

# Configure accessors
lombok.accessors.chain = true
lombok.getter.noIsPrefix = false
lombok.setter.flagUsage = allow

# Configure Lombok to work with MapStruct
lombok.copyableAnnotations += org.mapstruct.Mapper
lombok.copyableAnnotations += org.mapstruct.Mapping
lombok.copyableAnnotations += org.mapstruct.Named

# Make sure Lombok and MapStruct work together
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call
lombok.anyConstructor.addConstructorProperties = false